.copy {
  position: relative;
  float: right !important;
	text-align: right !important;
	margin-bottom: -2.52em;
	background-color: var(--negro);
	color:#fff;
	z-index: 1;
	
	padding-top: .5em;
	padding-left: .7em;
	padding-right: .5em;
	padding-bottom: .4em;
	
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;

}
.copy:hover,
.copy:active {
  background-color: var(--gris);
  
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}